.jumbotron {
  background: linear-gradient( #BBD8DC,whitesmoke);
  margin-top:40px;
  /*background-color:#41b6e6;*/
}


.socialLinks{
  text-decoration: none;
}

.wallpoet{
  font-family: 'Wallpoet', cursive;
}

.blue {
  color: #607D8B;
}


