<app-menu></app-menu>
<div class="jumbotron">
  <div class="container">
    <img class="img-circle" src="assets/images/me.jpg" height="70px" width="70px">
    <h2 class="wallpoet blue">{{title}}</h2>
    <p class="wallpoet blue "><i>{{subTitle}}</i></p>
  </div>
  <div class="container">
    <a class="socialLinks" target="_blank" href="https://www.linkedin.com/in/aymen-ben-youssef-0b947618/"><span class="fa fa-linkedin fa-2x" rel="tooltip" title="Get in touch on LinkedIn" ></span></a>
    <a class="socialLinks" target="_blank" href="https://github.com/AYMENCARLOS"><span class="fa fa-github fa-2x" style="padding-left:10px" rel="tooltip" title="Get in touch on Github" ></span></a>
    <a class="socialLinks" target="_blank" href="https://twitter.com/aymenbenyouss14"><span class="fa fa-twitter fa-2x" style="padding-left:10px" rel="tooltip" title="Get in touch on twitter" ></span></a>
  </div>
</div>
