<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="nav-brand" href="#" ><h2 style="margin-top: 10px;color:white">🅓🅔🅥🅕🅞🅛🅘🅞</h2></div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <div class="nav navbar-nav">
        <li><a routerLink="/home" routerLinkActive="active" class="wallpoet">Home</a></li>
        <li><a routerLink="/skills" routerLinkActive="active" class="wallpoet">Skills</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" class="wallpoet">Contact</a></li>
      </div>
    </div>
  </div>
</nav>
