<!-- You can now use it in app.component.html -->
<div class="row">
  <h4 class="wallpoet blue">Communication</h4>
  <div class="col-md-4">
    <circle-progress
    [percent]="90"
    [subtitle]="'French'"
    [subtitleFontSize]="12"
    [radius]="60"
    [space]="-10"
    [outerStrokeGradient]="true"
    [outerStrokeWidth]="10"
    [outerStrokeColor]="'#4882c2'"
    [outerStrokeGradientStopColor]="'#53a9ff'"
    [innerStrokeColor]="'#e7e8ea'"
    [innerStrokeWidth]="10">
    </circle-progress>
  </div>
  <div class="col-md-4">
    <circle-progress
      [percent]="70"
      [subtitle]="'English'"
      [subtitleFontSize]="12"
      [radius]="60"
      [space]="-10"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [outerStrokeColor]="'#4882c2'"
      [outerStrokeGradientStopColor]="'#53a9ff'"
      [innerStrokeColor]="'#e7e8ea'"
      [innerStrokeWidth]="10">
    </circle-progress>
  </div>
  <div class="col-md-4">
    <circle-progress
      [percent]="50"
      [subtitle]="'Italian'"
      [subtitleFontSize]="12"
      [radius]="60"
      [space]="-10"
      [outerStrokeGradient]="true"
      [outerStrokeWidth]="10"
      [outerStrokeColor]="'#4882c2'"
      [outerStrokeGradientStopColor]="'#53a9ff'"
      [innerStrokeColor]="'#e7e8ea'"
      [innerStrokeWidth]="10">
    </circle-progress>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div  *ngFor="let cat of categories">
      <h4 class="wallpoet blue" *ngIf="cat.name">{{cat.name}}</h4>
      <div *ngFor="let skill of filterCategory(cat.name)"  class="skillbar">
        <div class="skillbar-title">{{skill.name}}</div>
        <div class="skill-bar-percent">{{skill.percentage}}%</div>
        <div class="skillbar-bar" [ngStyle]="applyPercentage(skill.percentage)"></div>
      </div>
    </div>
  </div>
</div>

