.footer {
  text-align: center;
  left:0px;
  bottom:0px;
  height:30px;
  background-color: #101010;
}

.footer-text{
  color: white;
}
.techLogo{
  height: 15px;
  width: 15px;
}

.socialLinks{
  text-decoration: none;
  color: white;
}

.wallpoet{
  font-family: 'Wallpoet', cursive;
}

