<div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-1 pull-right"><ul class="nav nav-pills"><li><span class="accordion-toggle glyphicon" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></span></li></ul></div>
        <div class="col-md-11">
          <div class="panel-heading-text"><h5><i>Mars.2019 - June 2019  Full Stack/Java Consultant</i></h5></div>
          <div class="panel-heading-text blue"><b>KBL (European Private Bankers) - Luxembourg</b></div>
        </div>
      </div>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        <p>AUDIT application : Migrate the audit application (for KBL group and international subsidiaries) to a new web (angular/spring) application  <a href="https://www.kbl.lu" target="_blank">Learn more about KBL.</a></p>
        <p><b><i>#Angular5 #TypeScript #Spring3 #AngularMaterial # #Oracle11g #Websphere7 #GitFlow</i></b></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-1 pull-right"><ul class="nav nav-pills"><li><span class="accordion-toggle glyphicon" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></span></li></ul></div>
        <div class="col-md-11">
          <div class="panel-heading-text"><h5><i>Oct.2017 - Dec 2018   Senior Java/JEE consultant</i></h5></div>
          <div class="panel-heading-text blue"><b>European Investment Bank - Luxembourg</b></div>
        </div>
      </div>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <p>PiRat Application : EIB's central application to manage counterparts(a portfolio of more than 20 thousands clients), financial ratings and data  <a href="http://www.eib.org" target="_blank">Learn more about EIB.</a></p>
        <p><b><i>#JEE #JSF #Seam #Ajax #SYBASE #JBoss #Scrum #SOAP #Ratings</i></b></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-1 pull-right"><ul class="nav nav-pills"><li><span class="accordion-toggle glyphicon" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"></span></li></ul></div>
        <div class="col-md-11">
          <div class="panel-heading-text"><h5><i>Feb.2016 - Sep.2017  Senior Java/JEE consultant</i></h5></div>
          <div class="panel-heading-text blue"><b>Société Générale(SGSS) - Paris</b></div>
        </div>
      </div>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <p>NewBim Project: Accounting Data Management to evaluate cost & profitability of Société Générale Cost Centers<a href="http://www.societegenerale.com" target="_blank">Learn more about SG.</a></p>
        <p><b><i>#JEE #JSF #RichFaces #Ajax #Oracle #WebLogic #Scrum </i></b></p>
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row">
        <div class="col-md-1 pull-right"><ul class="nav nav-pills"><li><span class="accordion-toggle glyphicon" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"></span></li></ul></div>
        <div class="col-md-11">
          <div class="panel-heading-text"><h5><i>Aug.2010 - Dec.2015 Developer & Support Engineer</i></h5></div>
          <div class="panel-heading-text blue"><b>Sungard Financial Systems - Tunis</b></div>
        </div>
      </div>
    </div>
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <p>Stream Ubix /Stream Instant Control : Real-Time Back-office for Derivatives (Opt/Future) <a href="http://www.fisglobal.com" target="_blank">Learn more about Sungard/FIS</a></p>
        <p><b><i>#JEE #JMS #Oracle #C #Python #Scrum #Derivatives</i></b></p>
      </div>
    </div>
  </div>
  <div class="cv">
    <button class="btn btn-primary center-block" (click)="downloadFile()">Download Detailed CV</button>
  </div>
</div>
