<div class="container">
  <div class="list-group-item row">
    <div class="col-sm-10">
      <h4 class="list-group-item-heading"><b>2017-2018 - <span  rel="tooltip" title="PiRat Application: EIB central application to manage counterparts,financial data, internal and external ratings">Senior Java/J2EE consultant</span></b></h4>
      <p class="list-group-item-text ">European Investment Bank -Luxembourg City (Luxembourg)</p>
    </div>
    <div class="col-sm-10"></div>
    <a href="http://www.eib.org" target="_blank"><img class="img-thumbnail" src="assets/images/eib2.jpg" height="90px" width="90px"></a>
  </div>
  <div class="list-group-item row">
    <div class="col-sm-10">
      <h4 class="list-group-item-heading"><b>2016-2017 - <span  rel="tooltip" title="NewBim & GREF applications : SGSS(Société Générale Security Services) applications to evaluate cost and profitability of the bank cost centers.">Senior Java/J2EE consultant</span></b></h4>
      <p class="list-group-item-text ">Société Générale - Paris (France)</p>
    </div>
    <div class="col-sm-10"></div>
    <div class="col-sm-10"></div>
    <a href="http://www.societegenerale.com" target="_blank"><img class="img-thumbnail" src="assets/images/socgen2.jpg" height="55px" width="90px"></a>
  </div>
  <div class="list-group-item row">
    <div class="col-sm-10">
      <h4 class="list-group-item-heading"><b>2010-2015 - <span  rel="tooltip" title="Stream Ubix & Stream Instant Control softwares : Real-time Back-office for derivatives (Options/future)">Developer & Support Engineer</span></b></h4>
      <p class="list-group-item-text ">Sungard /FIS Financial Systems -Tunis (Tunisia)</p>
    </div>
    <div class="col-sm-10"></div>
    <div class="col-sm-10"></div>
    <a href="https://www.fisglobal.com" target="_blank"><img class="img-thumbnail" src="assets/images/Sungard.png" height="90px" width="90px"></a>
  </div>
</div>

